## Goal
-- Extract company names, CEOs, world ranks,<br>
-- Market capitalization, Annual revenue, <br>
-- number of employees, company URLs<br>

In [94]:
import requests;

bse_page = requests.get('https://www.value.today/bse_top_companies')
bse_page.status_code

bse_request = bse_page.text

bse_request[:1000]

'<!DOCTYPE html>\n<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">\n  <head>\n    <meta charset="utf-8"/>\n<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>\n<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-2407955258669770",enable_page_level_ads:true});</script><script>window.google_analytics_uacct="UA-121331115-1";(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","https://www'

In [95]:
from bs4 import BeautifulSoup as bs
bse_doc = bs(bse_request,'html.parser')

type(bse_doc)

bs4.BeautifulSoup

In [172]:
#function for fetching url
def get_url(url):
    response = requests.get(url)
    if response.status_code != 200:
        raise Exception("Enter Valid URL {}".format(url))

        page_content = response.text 

    bse_doc = bs(response.text,'html.parser')
    return bse_doc

In [154]:
#Company name
company_list = bse_doc.find_all('div',class_ = 'field field--name-node-title field--type-ds field--label-hidden field--item')


def company_names(company_list):

    company = []
    for tag in company_list:
        company.append(tag.find('a').text.strip())
    
    return company
        
company_names(company_list)

['RELIANCE INDUSTRIES',
 'TATA CONSULTANCY SERVICES (TCS)',
 'HDFC BANK',
 'HDFC',
 'HINDUSTAN UNILEVER',
 'ICICI BANK',
 'KOTAK MAHINDRA BANK',
 'INFOSYS',
 'STATE BANK OF INDIA',
 'ITC']

In [155]:
#CEOs

ceo_list  = bse_doc.find_all('div',class_ = 'clearfix col-sm-12 field field--name-field-ceo field--type-entity-reference field--label-above')

def names_of_ceo(ceo_list):
    ceo_name = []
    for i in ceo_list:
        try:
            name = i.find('a').text
            ceo_name.append(name)
        except ArithmeticError:
            ceo_name(none)
    return ceo_name

names_of_ceo(ceo_list)

['Mukesh Ambani',
 'Rajesh Gopinathan',
 'Sashidhar Jagdishan',
 'Keki M Mistry',
 'Sanjiv Mehta',
 'Sandeep Bakhshi',
 'Uday Kotak',
 'Salil Parekh',
 'Vinay M Tonse',
 'Sanjiv Puri']

In [106]:
#WORLD Rank

world_list = bse_doc.find_all('div', class_ = 'clearfix col-sm-6 field field--name-field-world-rank-sep-01-2021- field--type-integer field--label-above')

def world_rank(world_list):
    world_ranks = []

    for tag in world_list:
        rank = tag.find('div', class_ = 'field--item')
        world_ranks.append(rank.text)

    return world_ranks
      

world_rank(world_list)

['52', '61', '128', '258', '179', '252', '409', '155', '355', '574']

In [136]:
#Market Captealization 

market_list = bse_doc.find_all('div', class_ = 'clearfix col-sm-6 field field--name-field-market-cap-aug-01-2021- field--type-float field--label-above')

def market_fun(market_list):
    market_cap = []
    for tag in market_list:
        try:
            market = tag.find('div',class_='field--item').text
            replace_market = market.replace("Billion USD","").strip()
            market_cap.append(float(replace_market))
        except ArithmeticError:
            market_cap.append(None)

    return market_cap

market_fun(market_list)

[214.91, 195.16, 121.6, 68.936, 89.838, 69.454, 48.37, 101.04, 53.704, 36.078]

In [138]:
#Annual Revenue

annual_list  = bse_doc.find_all('div', class_ = 'clearfix col-sm-12 field field--name-field-revenue-in-usd field--type-float field--label-inline')

def annual_fun(annual_list):
    annual_revenue = []
    for tag in annual_list:
        revenue = tag.find('div', class_ = 'field--item').text
        replace_rev = revenue.replace(",","").replace("Million USD", "").strip()
        annual_revenue.append(int(replace_rev))

    return annual_revenue

annual_fun(annual_list)

[85696, 20404, 19119, 13224, 5031, 5216, 6539, 11803, 47090, 6286]

In [145]:
#No of employees
employees_list = bse_doc.find_all('div',class_='clearfix col-sm-12 field field--name-field-employee-count field--type-integer field--label-inline')

def employee_func(employees_list):
    no_of_employee = []
    for tag in employees_list:
        employee = tag.find('div', class_ = 'field--item').text
        replace_emp = employee.replace(",","")
        no_of_employee.append(int(replace_emp))
    return no_of_employee


employee_func(employees_list)

[195618, 528748, 116971, 3326, 21000, 131232, 60000, 279617, 249448, 27279]

In [153]:
#Company URLs

url_list = bse_doc.find_all('div',class_ = 'clearfix col-sm-12 field field--name-field-company-website field--type-link field--label-above')

url_list[0]

def url_func(url_list):
    company_url = []
    for tag in url_list:
        url = tag.find('a')['href']
        company_url.append(url)
    return company_url

url_func(url_list)

['https://www.ril.com/',
 'https://www.tcs.com/',
 'https://www.hdfcbank.com/',
 'https://www.hdfc.com/',
 'https://www.hul.co.in/',
 'https://www.icicibank.com/',
 'https://www.kotak.com/en.html',
 'https://www.infosys.com/',
 'https://www.onlinesbi.com/',
 'https://www.itcportal.com/']

In [173]:
#Putting all together

def scarp_page():

    all_info_dic = {
        'company_name':[],
        'ceo_names':[],
        'world_rank':[],
        'market_cpa':[],
        'annual_revenue':[],
        'no_of_employees':[],
        'companies_urls':[]
    }

    for page in range(0,52):
        url = 'https://www.value.today/bse_top_companies'
        
        company_list = get_url(url).find_all('div',class_ = 'field field--name-node-title field--type-ds field--label-hidden field--item')
        ceo_list  = get_url(url).find_all('div',class_ = 'clearfix col-sm-12 field field--name-field-ceo field--type-entity-reference field--label-above')
        world_list = get_url(url).find_all('div', class_ = 'clearfix col-sm-6 field field--name-field-world-rank-sep-01-2021- field--type-integer field--label-above')
        market_list = get_url(url).find_all('div', class_ = 'clearfix col-sm-6 field field--name-field-market-cap-aug-01-2021- field--type-float field--label-above')
        annual_list  = get_url(url).find_all('div', class_ = 'clearfix col-sm-12 field field--name-field-revenue-in-usd field--type-float field--label-inline')
        employees_list = get_url(url).find_all('div',class_='clearfix col-sm-12 field field--name-field-employee-count field--type-integer field--label-inline')
        url_list = get_url(url).find_all('div',class_ = 'clearfix col-sm-12 field field--name-field-company-website field--type-link field--label-above')

        all_info_dic['company_name'] += company_names(company_list)
        all_info_dic['ceo_names'] += names_of_ceo(ceo_list)
        all_info_dic['world_rank'] += world_rank(world_list)
        all_info_dic['market_cpa'] += market_fun(market_list)
        all_info_dic['annual_revenue'] += annual_fun(annual_list)
        all_info_dic['no_of_employees'] += employee_func(employees_list)
        all_info_dic['companies_urls'] += url_func(url_list)
        page = page+1

    return all_info_dic

In [169]:
import pandas as pd;

In [174]:
scrap_df = pd.DataFrame(scarp_page())

In [175]:
scrap_df

,company_name,ceo_names,world_rank,market_cpa,annual_revenue,no_of_employees,companies_urls
0,RELIANCE INDUSTRIES,Mukesh Ambani,52,214.910,85696,195618,https://www.ril.com/
1,TATA CONSULTANCY SERVICES (TCS),Rajesh Gopinathan,61,195.160,20404,528748,https://www.tcs.com/
2,HDFC BANK,Sashidhar Jagdishan,128,121.600,19119,116971,https://www.hdfcbank.com/
3,HDFC,Keki M Mistry,258,68.936,13224,3326,https://www.hdfc.com/
4,HINDUSTAN UNILEVER,Sanjiv Mehta,179,89.838,5031,21000,https://www.hul.co.in/
...,...,...,...,...,...,...,...
515,ICICI BANK,Sandeep Bakhshi,252,69.454,5216,131232,https://www.icicibank.com/
516,KOTAK MAHINDRA BANK,Uday Kotak,409,48.370,6539,60000,https://www.kotak.com/en.html
517,INFOSYS,Salil Parekh,155,101.040,11803,279617,https://www.infosys.com/
518,STATE BANK OF INDIA,Vinay M Tonse,355,53.704,47090,249448,https://www.onlinesbi.com/
519,ITC,Sanjiv Puri,574,36.078,6286,27279,https://www.itcportal.com/